/*  Pushes the form to right */
.form-group{
   	margin: 20px;
}

/* Removes margin between navbar and sidebar */
.thinnav {
	margin-bottom: 0px;
}

/* Set Form input background*/
.form-control {
    background-color:#666;
    color: #FFF;
}

/* Set Form dropdown background*/
.year {
	background-color:#666;
    color: #FFF;
}

/* Set Form dropdown background*/
.genre {
	background-color:#666;
    color: #FFF;
}

/* Set text on submit button */
.submit {
	text-align: center;
	text-decoration: none;
	vertical-align: middle;	
	margin: auto;	
	padding: 8px 10px 10px 10px;
}

.toshow {
    display: none;
}

.main { 
	position:relative; 
	padding:0 0 0 0px; 
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin-top: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.displayed {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45vw;
    height: 45vh;
    position: relative;
  	top: 50%;
}