/*  Pushes the form to right */
.form-group{
   	margin: 20px;
}

/* Removes margin between navbar and sidebar */
.thinnav {
	margin-bottom: 0px;
}

/* Set Form input background*/
.form-control {
    background-color:#666;
    color: #FFF;
}

/* Set Form dropdown background*/
.year {
	background-color:#666;
    color: #FFF;
}

/* Set Form dropdown background*/
.genre {
	background-color:#666;
    color: #FFF;
}

.rating {
  background-color:#666;
    color: #FFF;
}

/* Set text on submit button */
.submit {
	text-align: center;
	text-decoration: none;
	vertical-align: middle;	
	margin: auto;	
	padding: 8px 10px 10px 10px;
}

.toshow {
    display: none;
}

.main { 
	position:relative; 
	padding:0 0 0 0px; 
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin-top: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

h1 {
  border-bottom: 1px solid #999999;
  color: #77CCDD;
  font-family: "Marvel", sans-serif;
  font-size: 169px;
  font-weight: normal;
  line-height: 48px;
  margin: 26px 0 26px;
  padding: 0 0 60px;
  text-transform: uppercase;
  text-align:center;
}
.words {
  color: #77CCDD;
  font-family: "Marvel", sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 0 18px;
  padding: 12px 0 0;
  text-transform: uppercase;
}
blockquote {
  border-left: 5px solid #f0f1e7;
  color: #b2b888;
  float: right;
  font-family: "Marvel", sans-serif;
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
  margin: 0 0 24px 30px;
  padding-left: 30px;
  width: 150px;
}
a.star {
	height: 25px;
	width: 25px;
	display: block;
}
a.fav {
	background: url('../img/starsprite.png') -25px 0 no-repeat;
}
a.notfav {
	background: url('../img/starsprite.png') 0 0 no-repeat;
}
a.plus {
	height: 25px;
	width: 25px;
	display: block;
}
a.wat {
	background: url('../img/plussprite.png') 0 0 no-repeat;
}
a.notwat {
	background: url('../img/plussprite.png') -25px 0 no-repeat;
}